
body{
  background-image: url("images/rename.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

*{
    margin:0;
    padding:0;
  }
  
  header{
    border-bottom: 1px solid #1b85dc;
    height: 10vh;
    display:flex;
  }
  
  #logo{
    margin-top: 10px;
    width: 30vw;
    height: 10vh; 
    margin-left: 2%; /*do vitor*/
  }
  
  #logo img{
    height: 8vh;
  }
  #display{
    width: 50vw;
  }
  
  #user{
    width: 20vw;
  }
  
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card a{
    text-decoration: none;
  }
  
  #modal-view{
    border:1px solid #1b85dc;
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
    background-color: white;
   
  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #1b85dc;
    position: absolute;
    padding:2vh 2vw;
    display:none;
    width: 90vw;
    background-color: white;
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }
  
  .card{
    margin: 15px;
    border-color:#1b85dc;
  }
 

.minhavez div {
    display: inline-block; 
}

::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  
  background: #104e81; 
}


::-webkit-scrollbar-thumb {

  background-color: #1b85dc; 
  border-radius: 3px; 

}